@charset "utf-8";
/* CSS Document */
#mask1{
	  position:fixed;
	  height:100%;
	  width:100%;
	  top:10px;
	  left:0px;
	  background:#000;
	  opacity:0.5;
	  z-index:100;
	  display:none
	}
	  
	 

select{
float:left;
margin-left:20px;
}
label{
float:left;
margin-left:20px;
}
#addMonitorForm1
{
position:absolute;
	  min-height:200px;
      width:50%;
	  top:20%;
	  left:25%;
	  background:#fff;
	  z-index:500;
	  display:none;
	  margin:0px; 
	  }
#container1{
float:left;
min-height:200px;
width:100%;
background-color:#CCCCCC;
margin: 0px;
padding: 0px;

}

.monitortype1
{
		  min-height:200px;
	
float:left;
width:100%;
z-index:500px;
margin:0px;
padding:0px;
background-color:#F4F4F4;
}


