@charset "utf-8";
/* CSS Document */

.main{
float:left;
height:400px;
width:50%;
margin-left:25%;
margin-top:10%;
background-color:#F5F5F5;
}

.head{
float:left;
height:40px;
width:100%;
}

.space{
float:left;
height:250px;
width:18%;

}


	label {
	    display:inline-block;
	  	width:100px;
	    margin: 15px;
	
	}

	input[type=text], input[type=password]{
  		width: 40%; 
  	    padding: 5px;
		margin-top:15px;
  	
	}
  
  input[type=text]:focus, input[type=password]:focus{
		background: #FFFFFF;
	}

    input[type=submit] {
	float:left;
	height:30px;
        width: 25%;
	color:#FFFFFF;
	background:#009100;
  	margin:6px 0px 5px 40%;
	border-radius:5px;
 
  		}
	
	
