@charset "utf-8";
/* CSS Document */
.main{

  display: inline-block;
  width: 30%;
  margin:15% 0px 0px 30%;
  border:#3399FF;
  box-shadow:3px 5px 6px 5px #aaa;
}

h3{
        margin: 0 15px 20px;
	    padding: 5px 10px 5px 0;
		border-bottom-color: #909090;
	  	font-size: 1.1em;
}

	label {
	    display: inline-block;
	  	width:120px;
	    margin: 10px;
		border-radius:8px;
	}

	input[type=text], input[type=password]{
  		width: 48%; 
  	    padding: 5px;
  		border-radius: 7px;
  		background:#CCCCCC;
	}
  
  input[type=text]:focus, input[type=password]:focus{
		background: #FFFFFF;
	}

    input[type=submit] {
	float:right;
	height:25px;
	background:#CCCCCC;
  	margin:6px 40% 5px 40%;
	border-radius:5px;
 
  		}
	
	
